# Biến môi trường kết nối MongoDB Atlas (Đặt tên chính xác là MONGODB_URI)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/todo_db?retryWrites=true&w=majority

# Tùy chọn tên Database (Mặc định là todo_db nếu không khai báo)
MONGODB_DB_NAME=todo_db
