# Chuỗi kết nối MongoDB Atlas (Thay thế username, password và cluster bằng thông tin của bạn)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/todoApp?retryWrites=true&w=majority
